
/*General components*/
html {
    min-height: 100%; 
	display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
body {
    flex-grow: 1;
    display: grid;
	place-items: center;
	min-height: 100%;
	min-width: 100%;
	margin: 0px;
	padding: 0px;
}
.body {
	max-width: 100%;
	padding: 40px;
	padding-left: 200px;
	padding-right: 200px;
	margin: 40px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif, 'PT Serif', serif;
	font-size: 20px;
	color: black;
}
h1, h3, p {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}
li {
	font-weight: 500;
	margin: 15px;
}
input, select {
	font: inherit;
	background-color: white;
}
input {
	padding: 5px;
	margin: 10px;
	font-size: 15px;
	border: 3px solid black;
}
input:not([type='text']):hover {
	background-color: deepskyblue;
}
input:not([type='text']):active {
	background-color: steelblue;
}
select {
	padding: 5px;
	margin: 10px;
	font-size: 15px;
	border: 3px solid black;
}
textarea {
	padding: 5px;
	margin: 5px;
	font-size: 20px;
	border: 3px solid black;
}
footer {
	z-index: 10;
    max-height: 100%; 
    min-width: 100%;
	display: flex;
    flex-direction: column;
}
sup {
	font-size: 18px; 
	font-family: Calibri, serif;
	font-style: italic;
	padding: 6px;
	-webkit-text-stroke: 0.5px black;
}

/*Favicon-logo*/
#big-favicon {
	position: relative;
	max-width: 100px;
}

/*Note display and reference*/
#note-displays {
	display: flex;
	justify-content: flex-start;
}
#note-lengths {
	max-width: 500px;
	flex: 1;
}
#scale-display {
	flex: 1;
	background-image: linear-gradient(to right, orangered, yellow);
	max-width: fit-content;
	min-width: 500px;
	padding: 10px;
	margin: 5px;
	overflow: hidden;
}
@keyframes fade-out {
	0% {
		opacity: 1;
		max-height: 500px;
	}
	100% {
		opacity: 0;
		max-height: 0px;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
		max-height: 0px;
	}
	100% {
		opacity: 1;
		max-height: 500px;
	}
}
#scale-display p {
	margin: auto;
	padding: auto;
}

/*Database of codes*/
.database {
	margin-top: 20px;
}
.database p {
	margin-bottom: 0px;
}
.database option {
	white-space: nowrap;
}

/*Note sheet*/
.sheet-music-1 p {
	margin-bottom: 5px;
}
.sheet-music-1 {
	margin-top: 60px;
}
.sheet-music-2 {
	display: flex;
	flex-direction: column;
}
#note-sheet-container {
	flex: 1;
	max-width: 1200px;
	min-width: 400px;
	max-height: fit-content;
	overflow-y: hidden;
	overflow-x: scroll;
	border: 7px solid;
 	border-image-slice: 1;
	border-image-source: linear-gradient(to right, #261C63, #4433AF);
	box-shadow: 0px 0px 10px 5px rgba(31, 28, 99, 1.0);
}
#note-sheet {	
	border-spacing: 0px;
	border-collapse: collapse;
}
.sheet-table-cells {
	padding-top: 30px;
	padding-left: 35px;
	border-top: 1px solid rgb(25, 0, 103);
	border-bottom: 1px solid rgb(25, 0, 103);
	background: whitesmoke;
}
.sheet-table-cells:hover {
	background: rgba(100, 100, 100, 0.9) !important;
}
.sheet-table-rows:hover .sheet-table-cells {
	background: rgba(204, 204, 204, 0.6);
}

/*Player block*/
#player-buttons-container {
	width: fit-content;
	min-height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: purple;
	padding: 10px 40px 10px 40px;
	margin: 10px;
	border-radius: 15px;
	border: 3px solid black;
}
#player-Play-button {
	flex: 1;
	max-width: 70px;
}
#shawzins-select {
	font-size: 18px;
	-webkit-text-stroke: 0.4px black;
}
.player-buttons:active {
	max-width: 60px !important;
	margin: 5px;
}
#shawzin-pic {
	max-width: 80px;
	background: lightgrey;
}

/*Footer wit credit to people*/
.foot {
	position: sticky;
	flex-grow: 1;
    display: grid;
	place-items: center;
	min-width: 100%;
	font-family: 'Montserrat', sans-serif, 'PT Serif', serif;
	color: black;
	background-image: linear-gradient(to bottom, lightgray, grey);
	height: fit-content;
	margin-top: 120px;
}
.foot p {
	margin: 5px;
	font-size: 18px;
}
.foot a {
	font-size: 18px;
	margin: 5px;
}
#credit{
	position: relative;
	font-size: 18px;
}

/*Links color*/
a:visited {
	color: blueviolet;
}
a:link {
	color: blue;
}

/*Phone screen*/
@media screen and (max-width: 500px) {
	.body {
		font-size: 15px;
		margin: 30px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#scale-display {
		min-width: 400px;
	}
	#scale-display p {
		font-size: 15px;
	}
	#note-displays {
		display: initial;
	}
	#credit {
		font-size: 15px;
	}
	#note-lengths {
		max-width: 450px;
	}
}
