<<<<<<< HEAD
html {
    min-height: 100%; 
	display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
#big-favicon {
	position: relative;
	max-width: 100px;
}
body {
    flex-grow: 1;
    display: grid;
	place-items: center;
	min-height: 100%;
	min-width: 100%;
	margin: 0px;
	padding: 0px;
}
.body {
	max-width: 100%;
	padding: 40px;
	padding-left: 200px;
	padding-right: 200px;
	margin: 40px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif, 'PT Serif', serif;
	font-size: 20px;
	color: black;
}
h1, h3, p {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}
li {
	font-weight: 500;
	margin: 15px;
}
input, select {
	font: inherit;
	background-color: white;
}
input {
	padding: 5px;
	margin: 10px;
	font-size: 15px;
	border: 3px solid black;
}
input:not([type='text']):hover {
	background-color: deepskyblue;
}
input:not([type='text']):active {
	background-color: steelblue;
}
select {
	padding: 5px;
	margin: 10px;
	font-size: 15px;
	border: 3px solid black;
}
textarea {
	padding: 5px;
	margin: 5px;
	font-size: 20px;
	border: 3px solid black;
}
footer {
	z-index: 10;
    max-height: 100%; 
    min-width: 100%;
	display: flex;
    flex-direction: column;
}
.database {
	margin-top: 20px;
}
.database p {
	margin-bottom: 0px;
}
.database option {
	white-space: nowrap;
}
.bug-report {
	margin-top: 150px;
}
.bug-report p {
	margin-bottom: 0px;
}
.foot {
	position: sticky;
	flex-grow: 1;
    display: grid;
	place-items: center;
	min-width: 100%;
	font-family: 'Montserrat', sans-serif, 'PT Serif', serif;
	color: black;
	background-image: linear-gradient(to bottom, lightgray, grey);
	min-height: 60px;
}
#credit{
	position: relative;
	font-size: 18px;
}
#note-displays {
	display: flex;
}
#note-lengths {
	max-width: 500px;
	flex: 1;
}
#scale-display {
	flex: 1;
	background-image: linear-gradient(to right, orangered, yellow);
	max-width: fit-content;
	min-width: 500px;
	padding: 10px;
	margin: 5px;
	overflow: hidden;
}
@keyframes fade-out {
	0% {
		opacity: 1;
		max-height: 500px;
	}
	100% {
		opacity: 0;
		max-height: 0px;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
		max-height: 0px;
	}
	100% {
		opacity: 1;
		max-height: 500px;
	}
}
#scale-display p {
	margin: auto;
	padding: auto;
}
a:visited {
	color: blueviolet;
}
a:link {
	color: blue;
}
@media screen and (max-width: 500px) {
	.body {
		font-size: 15px;
		margin: 40px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#scale-display {
		min-width: 400px;
	}
	#scale-display p {
		font-size: 15px;
	}
	#note-displays {
		display: initial;
	}
	#credit {
		font-size: 15px;
	}
	#note-lengths {
		max-width: 450px;
	}
}


=======
html {
    min-height: 100%; 
	display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
#big-favicon {
	position: relative;
	max-width: 100px;
}
body {
    flex-grow: 1;
    display: grid;
	place-items: center;
	min-height: 100%;
	min-width: 100%;
	margin: 0px;
	padding: 0px;
}
.body {
	max-width: 100%;
	padding: 40px;
	padding-left: 200px;
	padding-right: 200px;
	margin: 40px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif, 'PT Serif', serif;
	font-size: 20px;
	color: black;
}
h1, h3, p {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}
li {
	font-weight: 500;
	margin: 15px;
}
input, select {
	font: inherit;
	background-color: white;
}
input {
	padding: 5px;
	margin: 10px;
	font-size: 15px;
	border: 3px solid black;
}
input:not([type='text']):hover {
	background-color: deepskyblue;
}
input:not([type='text']):active {
	background-color: steelblue;
}
select {
	padding: 5px;
	margin: 10px;
	font-size: 15px;
	border: 3px solid black;
}
textarea {
	padding: 5px;
	margin: 5px;
	font-size: 20px;
	border: 3px solid black;
}
footer {
	z-index: 10;
    max-height: 100%; 
    min-width: 100%;
	display: flex;
    flex-direction: column;
}
.database {
	margin-top: 20px;
}
.database p {
	margin-bottom: 0px;
}
.database option {
	white-space: nowrap;
}
.bug-report {
	margin-top: 150px;
}
.bug-report p {
	margin-bottom: 0px;
}
.foot {
	position: sticky;
	flex-grow: 1;
    display: grid;
	place-items: center;
	min-width: 100%;
	font-family: 'Montserrat', sans-serif, 'PT Serif', serif;
	color: black;
	background-image: linear-gradient(to bottom, lightgray, grey);
	min-height: 60px;
}
#credit{
	position: relative;
	font-size: 18px;
}
#note-displays {
	display: flex;
}
#note-lengths {
	max-width: 500px;
	flex: 1;
}
#scale-display {
	flex: 1;
	background-image: linear-gradient(to right, orangered, yellow);
	max-width: fit-content;
	min-width: 500px;
	padding: 10px;
	margin: 5px;
	overflow: hidden;
}
@keyframes fade-out {
	0% {
		opacity: 1;
		max-height: 500px;
	}
	100% {
		opacity: 0;
		max-height: 0px;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
		max-height: 0px;
	}
	100% {
		opacity: 1;
		max-height: 500px;
	}
}
#scale-display p {
	margin: auto;
	padding: auto;
}
a:visited {
	color: blueviolet;
}
a:link {
	color: blue;
}
@media screen and (max-width: 500px) {
	.body {
		font-size: 15px;
		margin: 40px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#scale-display {
		min-width: 400px;
	}
	#scale-display p {
		font-size: 15px;
	}
	#note-displays {
		display: initial;
	}
	#credit {
		font-size: 15px;
	}
	#note-lengths {
		max-width: 450px;
	}
}


>>>>>>> 364f03f322417e5df4fecd44eb5191547d7e7857
