:root {
	--heat-shadow-size: inset 0px 0px 20px;
	--heat-gradient-start: 50%;
	--heat-gradient-end: 95%;
	--heat-gradient-start-opacity: 0.6;
	--heat-gradient-end-opacity: 1;
}

/*General components*/
html {
    min-height: 100%; 
		display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
body {
    flex-grow: 1;
    display: grid;
	place-items: center;
	min-height: 100%;
	min-width: 100%;
	margin: 0px;
	padding: 0px;
}
.body {
	max-width: 100%;
	padding: 40px;
	padding-left: 200px;
	padding-right: 200px;
	margin: 40px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif, 'PT Serif', serif;
	font-size: 20px;
	color: black;
}
h1, h3, p {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}
li {
	font-weight: 500;
	margin: 15px;
}
input:focus, select:focus, textarea:focus {
	transition: border-radius 0.5s linear, box-shadow 0.5s ease;
}
input, select {
	width: fit-content;
	font: inherit;
	background-color: white;
	cursor: pointer;
}
input {
	padding: 5px;
	margin: 10px;
	font-size: 15px;
	border: 3px solid black;
}
input:not([type='text']):hover {
	background-color: deepskyblue;
}
input:not([type='text']):active {
	background-color: steelblue;
	cursor: pointer;
}
input[type='range']:focus {
	box-shadow: 0px 0px 10px 5px rgb(151, 112, 255);
	border-radius: 30px;
}
input:not([type='range']):focus {
	box-shadow: 0px 0px 10px 5px rgb(151, 112, 255);
	outline: 1px solid rgb(151, 112, 255);
	border-radius: 30px;
}
input[type='checkbox'] {
	-webkit-appearance: none;
	margin: 0px;
	padding: 10px;
	border: 3px solid black;
	border-radius: 3px;
	position: relative;
}
input[type='checkbox']:checked {
	background-color: #FFC469;
}
input[type='checkbox']:checked:after {
	content: '\2714';
	font-size: 20px;
	font-weight: bold;
	left: 3px;
	bottom: -3px;
	position: absolute;
	color: black;
}
input[type='checkbox']:focus {
	border-radius: 0;
}
label.label-button {
	cursor: pointer;
	padding: 5px;
	margin: 10px;
	font-size: 15px;
	border: 3px solid black;
}
label.label-button:hover {
	background-color: deepskyblue;
}
label.label-button:active {
	background-color: steelblue;
} 
label.label-button:focus {
 	box-shadow: 0px 0px 10px 5px rgb(151, 112, 255);
	outline: 1px solid rgb(151, 112, 255);
	border-radius: 30px;
}
label {
	cursor: pointer;
}
select {
	padding: 5px;
	margin: 10px;
	font-size: 15px;
	border: 3px solid black;
}
select:hover {
	cursor: pointer;
}
select:active {
	cursor: pointer;
}
select:focus {
	box-shadow: 0px 0px 10px 5px rgb(151, 112, 255);
	outline: 1px solid rgb(151, 112, 255);
	border-radius: 30px;
}
textarea {
	padding: 5px;
	margin: 5px;
	font-size: 20px;
	border: 3px solid black;
}
textarea:focus {
	box-shadow: 0px 0px 10px 5px rgb(151, 112, 255);
	outline: 1px solid rgb(151, 112, 255);
	border-radius: 6px;
}
footer {
    max-height: 100%; 
    min-width: 100%;
	display: flex;
    flex-direction: column;
}
sup {
	font-size: 18px; 
	font-family: Calibri, serif;
	font-style: italic;
	padding: 6px;
	-webkit-text-stroke: 0.5px black;
}
sub {
	font-size: 16px; 
	font-family: Calibri, serif;
	font-style: italic;
	padding: 6px;
}
code {
	background: rgba(230, 230, 230, 1);
	border-radius: 5px;
	border: 1px solid black;
	padding: 1px 6px 1px 6px;
}
details {
	font-family: 'Montserrat', sans-serif, 'PT Serif', serif;
	font-size: 1.2rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}
summary {
	font-size: 1.5rem;
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}
details[open] {
    padding: 0.5em;
}
details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}
::-webkit-resizer {
	background-color: blueviolet;
}
::-webkit-resizer:hover {
	cursor: move;
}
.button-indicator {
	color: red;
}
.flex-div-row {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
	overflow: visible;
	width: fit-content;
}
.flex-div-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: visible;
	width: fit-content;
}
.translation-success {
	border: 3px solid green;
}
.translation-block {
	border: 3px dotted black;
	background: grey;
}
.translation-error {
	border: 3px dashed red;
}
.showcase-heat-cells {
	display: flex;
	flex-direction: row;
	border-width: 2px; 
	border-style: solid; 
	border-color: black;
	justify-content: center;
	align-items: center;
}
.showcase-heat-cells > p {
	margin: 0;
}



/* Favicon-logo */
#big-favicon {
	position: relative;
	max-width: 100px;
}

/* Progress reset */
#reset-progress {
	transition: 0.2s;
}
#reset-progress:hover {
	background-color: red;
	box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 1.0);
}
#reset-progress:active {
	background-color: red;
	box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.2);
}

/* Note display and reference */
#note-displays {
	display: flex;
	justify-content: flex-start;
}
#note-lengths {
	max-width: 600px;
	flex: 1;
}
#scale-display {
	flex: 1;
	background-image: linear-gradient(to right, orangered, yellow);
	padding: 10px;
	margin: 5px;
	font-weight: 700;
	max-width: fit-content;
}
#scale-notes {
	border-collapse: collapse;
	cursor: help;
}
#scale-notes td {
	border-width: 2px 0 2px 0; 
	border-color: black; 
	border-style: dashed;
  	padding: 2px;
  	width: 2em;
  	font-size: 1.2rem;
}
.mouseover-notes {
	visibility: hidden;
}

@keyframes fade-out {
	0% {
		opacity: 1;
		max-height: 500px;
	}
	100% {
		opacity: 0;
		max-height: 0px;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
		max-height: 0px;
	}
	100% {
		opacity: 1;
		max-height: 500px;
	}
}
#scale-display p {
	margin: auto;
	padding: auto;
}

/* Database of codes */
.database {
	margin-top: 20px;
}
.database p {
	margin-bottom: 0px;
}
.database option {
	white-space: nowrap;
}

/* === Note sheet === */
.sheet-music-1 p {
	margin-bottom: 5px;
}
.sheet-music-1 {
	margin-top: 60px;
}
.sheet-music-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#note-sheet-container {
	flex: 1;
	max-width: 1210px;
	min-width: 400px;
	max-height: fit-content;
	overflow-y: hidden;
	overflow-x: scroll;
	scroll-behavior: smooth;
	border: 7px solid;
	border-left: 0;
 	border-image-slice: 1;
	border-image-source: linear-gradient(to right, #261C63, #4433AF);
	box-shadow: 7px 0px 10px 5px rgba(31, 28, 99, 1.0);
}
#note-sheet-container::-webkit-scrollbar {
	height: 20px;
	background-color: inherit;
}
#note-sheet-container::-webkit-scrollbar-thumb {
	width: 200px;
	background-color: black;
}
#note-sheet, #notes-list {	
	border-spacing: 0px;
	border-collapse: collapse;
}
.sheet-table-cells {
	width: auto;
	height: auto;
	border-top: 1px solid rgb(25, 0, 103);
	border-bottom: 1px solid rgb(25, 0, 103);
	background: rgb(245, 245, 245);
	padding: 2px;
	cursor: pointer;
}
/*highlight cell*/
.sheet-table-rows:hover .sheet-table-cells:hover {
	box-shadow: inset 0px 0px 100px rgba(50, 50, 50, 0.9);
}
/*highlight row*/
.sheet-table-rows:hover .sheet-table-cells{
	box-shadow: inset 0px 0px 100px rgba(170, 170, 170, 0.6);
}
/*.cell-off {
	background: rgb(245, 245, 245);
}*/
.cell-divs-basic {
	width: 30px; 
	height: 35px; 
	color: rgb(203, 35, 222); 
	overflow: visible; 
	white-space: nowrap; 
	display: flex; 
	flex-direction: row-reverse; 
	align-items: flex-end; 
	padding: 0px 2px 5px; 
	font-size: 20px; 
	font-weight: bold;
}
.cell-divs-labels {
	width: fit-content; 
	height: 35px; 
	color: rgb(203, 35, 222); 
	overflow: visible; 
	white-space: nowrap; 
	display: flex; 
	flex-direction: row-reverse; 
	align-items: flex-end; 
	padding: 0px 2px 5px; 
	font-size: 25px; 
	font-family: Arial;
	font-weight: bold;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: red;
	text-align: justify;
}
.cell-on {
	background: rgb(10, 10, 10);
}
.cell-off-err {
	background: rgb(253, 200, 0);
}
.cell-on-err {
	background: rgb(181, 67, 0);
}
.cell-playing {
	background: rgb(255, 223, 66);
}
/* - heat map classes - */
.cell-heat-1 {
	background: radial-gradient(closest-side circle at center, rgba(0, 170, 255, var(--heat-gradient-start-opacity))var(--heat-gradient-start), rgba(0, 170, 255, var(--heat-gradient-end-opacity))var(--heat-gradient-end));
	/*box-shadow: var(--heat-shadow-size) rgba(0, 170, 255, 1);*/
}
.cell-heat-2 {
	background: radial-gradient(closest-side circle at center, rgba(0, 255, 255, var(--heat-gradient-start-opacity))var(--heat-gradient-start), rgba(0, 255, 255,var(--heat-gradient-end-opacity))var(--heat-gradient-end));
}
.cell-heat-3 {
	background: radial-gradient(closest-side circle at center, rgba(0, 255, 170, var(--heat-gradient-start-opacity))var(--heat-gradient-start), rgba(0, 255, 170,var(--heat-gradient-end-opacity))var(--heat-gradient-end));
}
.cell-heat-4 {
	background: radial-gradient(closest-side circle at center, rgba(0, 255, 85, var(--heat-gradient-start-opacity))var(--heat-gradient-start), rgba(0, 255, 85,var(--heat-gradient-end-opacity))var(--heat-gradient-end));
}
.cell-heat-5 {
	background: radial-gradient(closest-side circle at center, rgba(0, 255, 0, var(--heat-gradient-start-opacity))var(--heat-gradient-start), rgba(0, 255, 0,var(--heat-gradient-end-opacity))var(--heat-gradient-end));
}
.cell-heat-6 {
	background: radial-gradient(closest-side circle at center, rgba(85, 255, 0, var(--heat-gradient-start-opacity))var(--heat-gradient-start), rgba(85, 255, 0,var(--heat-gradient-end-opacity))var(--heat-gradient-end));
}
.cell-heat-7 {
	background: radial-gradient(closest-side circle at center, rgba(170, 255, 0, var(--heat-gradient-start-opacity))var(--heat-gradient-start), rgba(170, 255, 0,var(--heat-gradient-end-opacity))var(--heat-gradient-end));
}
.cell-heat-8 {
	background: radial-gradient(closest-side circle at center, rgba(255, 255, 0, var(--heat-gradient-start-opacity))var(--heat-gradient-start), rgba(255, 255, 0,var(--heat-gradient-end-opacity))var(--heat-gradient-end));
}
.cell-heat-9 {
	background: radial-gradient(closest-side circle at center, rgba(255, 170, 0, var(--heat-gradient-start-opacity))var(--heat-gradient-start), rgba(255, 170, 0,var(--heat-gradient-end-opacity))var(--heat-gradient-end));
}
.cell-heat-10 {
	background: radial-gradient(closest-side circle at center, rgba(255, 85, 0, var(--heat-gradient-start-opacity))var(--heat-gradient-start), rgba(255, 85, 0,var(--heat-gradient-end-opacity))var(--heat-gradient-end));
}
.cell-heat-11 {
	background: radial-gradient(closest-side circle at center, rgba(255, 0, 0, var(--heat-gradient-start-opacity))var(--heat-gradient-start), rgba(255, 0, 0,var(--heat-gradient-end-opacity))var(--heat-gradient-end));
}

/* === Player block === */
/* Buttons */
.player-buttons-panel {
	width: fit-content;
	min-height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: purple;
	padding: 10px 40px 10px 40px;
	margin: 10px;
	border-radius: 15px;
	border: 3px solid black;
}
.player-buttons-panel > .flex-div-column > div > *, .player-buttons-panel > .flex-div-column > * {
	margin: 3px;
}
.player-buttons-panel > .flex-div-column > div > input:not([type='button']), .player-buttons-panel > .flex-div-column > input:not([type='button']) {
	width: 6em;
}
.player-buttons-panel > .flex-div-column > div {
	margin: 0;
}
.player-buttons-panel > div {
	margin: 0 10px;
}
#player-Play-button {
	flex: 1;
	max-width: 70px;
}
.player-buttons:active {
	max-width: 60px !important;
	margin: 5px;
}
.player-buttons {
	border-width: 2px;
	border-color:black; 
	border-style:solid; 
	border-radius: 50%;
	margin: 0px 5px;
	max-width: 70px;
}

/* Volume */
#volume-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#volume-container > div {
	display: flex; 
	justify-content: center; 
	align-items: center;
}
#volume-container > div > label {
	margin: 0px 10px;
}
#volume-value {
	background-color: grey;
	border-radius: 5px;
	padding: 2px;
}
#volume {
	-webkit-appearance: none;
	width: 300px;
	height: 8px;
	padding: 0px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.6);
  	background-image: linear-gradient(to right, orangered, yellow);
}
#volume::-webkit-slider-thumb {
 	-webkit-appearance: none;
	height: 30px;
	width: 30px;
	padding: 0px;
	border-radius: 50%;
	border: 3px solid black;
	background: blue;
	cursor: ew-resize;
	transition: background .3s ease-in-out;
}
#column-skip-amount {
	min-width: 120px;
}

/* Shawzin selector */
#shawzins-select {
	margin-right: 20px;
	margin-left: 20px;
	font-size: 18px;
	-webkit-text-stroke: 0.4px black;
}
#shawzin-pic {
	max-width: 80px;
	background-color: lightgray;
	border: 4px solid black;
  	cursor: pointer;
  	transition: 0.2s;
}
#shawzin-pic:hover {
	border-color: blue;
	cursor: zoom-in;
}

/* Shawzin pic modal */
.modal { /* the modal (background) */
  display: none; 
  position: fixed; 
  z-index: 10; 
  padding-top: 100px;  
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;  
  background-color: rgba(0,0,0,0.9);
}
.modal-content { /* modal content (Image) */
  margin: auto;
  display: block;
  width: 80%;
  max-width: 400px;
}
.modal-caption, #shawzin-pic-caption { /* caption of modal image (Image Text) */
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 60px 0;
  height: 150px;
  font-size: 25px;
}
.modal-content, #shawzin-pic-caption { /* add animation - zoom in the modal */
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
@media only screen and (max-width: 700px){
  .modal-content {
    width: 60%;
  }
}

/* Reset Progress modal */
.modal-caption > p {
	text-shadow: 0px 0px 20px white;
}

/* Patch notes */
#patch-notes-board {
	background-image: url("images/patchnotes.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 1000px;
	height: fit-content;
	margin: 100px 0 0 0;
	padding: 15px;
}
#patch-notes-board[open] {
	width: auto;
	height: fit-content;
	min-width: 1000px;
	padding: 20px;
}
#patch-notes-board > summary {
	max-width: fit-content;
	background-image: radial-gradient(circle at center, rgba(127, 127, 127, 0.8) 0%, rgba(127, 127, 127, 0.2) 100%);
	background-clip: padding-box;
	background-repeat: no-repeat;
	border-radius: 100%;
	cursor: zoom-in;
	margin-top: 0.5px;
}	
#patch-notes-container {
	overflow: scroll;
	overflow-x: hidden;
	max-height: 20rem;
	padding: 1rem 2rem;
	margin: 1rem 2rem;
	background-image: linear-gradient(to right, rgba(0, 131, 131, 0.8) 40%, rgba(0, 131, 131, 0.3) 100%);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 0 20px 10px rgb(0, 131, 131);
}
#patch-notes-container > ul:first-of-type {
	margin: 0;
	padding: 1.5rem;
}

/*Footer wit info*/
.foot {
	position: sticky;
	flex-grow: 1;
    display: grid;
	place-items: center;
	min-width: 100%;
	font-family: 'Montserrat', sans-serif, 'PT Serif', serif;
	color: black;
	background-image: linear-gradient(to bottom, lightgray, grey);
	height: fit-content;
	margin: 40px 0 0 0;
	padding: 10px 0 10px 0;
	line-height: 0.9rem;
}
.foot > p {
	margin: 5px;
	font-size: 18px;
}
.foot > a {
	font-size: 18px;
	margin: 5px;
}
#credit{
	position: relative;
	font-size: 18px;
}

/*Links color*/
a:visited {
	color: blueviolet;
}
a:link {
	color: blue;
}

/*Phone screen*/
@media screen and (max-width: 500px) {
	.body {
		font-size: 15px;
		margin: 30px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#scale-display {
		min-width: 400px;
	}
	#scale-display p {
		font-size: 15px;
	}
	#note-displays {
		display: initial;
	}
	#credit {
		font-size: 15px;
	}
}
